.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.no-list {
  list-style-type: none; /* Remove user agent list styling */
  padding-left: 0; /* Remove user agent padding */
  margin-top: 0; /* Remove user agent margin */
  margin-bottom: 0; /* Remove user agent margin */
}

/*
 * (>) immediate child of parent selector
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Child_selectors
 */
.no-list > li {
  padding-bottom: 10px;
}