body {
    background-color: #006600;
}

/*.btn .btn-danger .btn-lg .dropdown-toggle {
    background-color: #42f44b;
}*/

.dropdown-toggle:active, .open .dropdown-toggle {
        background:#FFF !important; 
        color:#000 !important;
    }

.no-list {
  list-style-type: none; /* Remove user agent list styling */
  padding-left: 0; /* Remove user agent padding */
  margin-top: 0; /* Remove user agent margin */
  margin-bottom: 0; /* Remove user agent margin */
}

/*
 * (>) immediate child of parent selector
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Child_selectors
 */
.no-list > li {
  padding-bottom: 10px;
}