{% extends 'base.html' %}

{% block title %}IForm for serial number information{% endblock %}
{% block heading %}Form for serial number information{% endblock %}
{% block head %}
<style>
  body {
  background-image: url("AVUELOGO");
  }
</style>  
{% endblock %}

{% block content %}
<br><br>
<center>
<div class="well spaced" style="width:40%;">
<div>
    <h2>Enter serial number</h2>
    <form action="/info_for_serial_number" method="POST">
 
      <div class="form-group">
            <label>Serial number:
                <input type="serial_number" name="serial_number" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Get information" class="btn btn-danger">
        </div>

    </form>
</div>
</div>
</center>

{% endblock %}