{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
{% block heading %}AVUE Warehouse{% endblock %}
{% block head %}
<style>
  body {
  background-image: url("AVUELOGO");
  }
</style>  
{% endblock %}

{% block content %}

 {% if "user_id" in session %}
 
  {% else %}
  <center>
  <div class="well spaced" style="width:40%;">
  <div>
    <h1>Login</h1>
    <form action="/login" method="POST">

      <div class="form-group">
            <label>Email:
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="On Your Way!" class="btn btn-danger">
        </div>

    </form>
    </div>
    </div>
    </center>

    <br><br>
    <center>
      <div class="well spaced" style="width:40%;">
      <div>
        <h1>Register</h1>
            <form action="/register" method="POST">

              <div class="form-group">
                  <label>Name:
                      <input type="name" name="name" required class="form-control">
                  </label>
              </div>  

              <div class="form-group">
                  <label>Email:
                      <input type="email" name="email" required class="form-control">
                  </label>
              </div>

              <div class="form-group">
                  <label>Password:
                      <input type="password" name="password" required class="form-control">
                  </label>
              </div>

              <div class="form-group">
                  <input type="submit" value="Start to manage your warehouse" class="btn btn-danger">
              </div>

            </form>
      </div>
      </div><br><nbr>

      
  {% endif %}

  


<body>

{% endblock %}