{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
{% block heading %}AVUE Warehouse{% endblock %}
{% block head %}
<style>
  body {
  background-image: url("AVUELOGO");
  }
</style>  
{% endblock %}

{% block content %}

 {% if "user_id" in session %}
 
  {% else %}
  <center>
  <div class="well spaced" style="width:40%;">
  <div>
    <h1>Login</h1>
    <form action="/login" method="POST">

      <div class="form-group">
            <label>User Name:
                <input type="user_name" name="user_name" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Start to manage your warehouse" class="btn btn-danger">
        </div>

    </form>

  {% endif %}

  


<body>

{% endblock %}