{% extends 'base.html' %}

{% block title %}Information by serial number{% endblock %}
{% block heading %}Information by serial number{% endblock %}
{% block head %}
<style>
  body {
  background-image: url("AVUELOGO");
  }
</style>  
{% endblock %}

{% block content %}
<br><br>
<center>
<div class="well spaced" style="width:40%;">
<div>
    <h4>Details about item {{ item.serial_number }}</h4><br>
    <h4>Model number: {{ item.model_code }}</h4><br>
    <h4>Description: {{ item.description }}</h4><br>
    <h4>Shipped in: {{ item.shipped_in }}</h4><br>
    <h4>Shipped out: {{ item.shipped_out }}</h4><br>
</div>
</div>
</center>

{% endblock %}