{% extends 'base.html' %}

{% block title %}Information for model number{% endblock %}
{% block heading %}Information for model number{% endblock %}

{% block head %}
<style>
  body {
   background-image: url("AVUELOGO");
  }
</style>
{% endblock %}

{% block content %}
<br><br>
<center>
<div class="well spaced" style="width:80%;">
<div id="wrapper">

  <h4>Details about model {{ model_code }}</h4>
  <h4>Description: {{ model.description }}</h4>

  <table style="width:100%" class="table-striped table-bordered" border="1|1" cellpadding="10">
  <tr>
    <th>Date</th>
    <th>In</th> 
    <th>Out</th>
    <th>Serial Number</th>
    <th>Customer</th>
    <th>Manufacturer</th>
  </tr>
  {% for date in dates_info %}
  <tr>
    <td>{{ date }}</td>
    <td>{{ dates_info[date][0] }}</td> 
    <td>{{ dates_info[date][1] }}</td>
    {% for i in dates_info[date][2:] %}
     <tr> 
      <td></td>
      <td></td>
      <td></td>
      <td>{{ i[2] }}</td>
      <td>{{ i[1] }}</td>
      <td>{{ i[0] }}</td>
     <tr> 
    {% endfor %}
  </tr>
  {% endfor %}
  <tr>
    <td>Total</td>
    <td>{{ count_items_received }}</td>
    <td>{{ count_items_shipped }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  <tr>
  <tr>
    <td>Total On Hand</td>
    <td>{{ model.quantity }}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</table>

</div>
</div>
</center>

{% endblock %}