{% extends 'base.html' %}

{% block title %}Information for model number{% endblock %}
{% block heading %}Information for model number{% endblock %}

{% block head %}
<style>
  body {
   background-image: url("AVUELOGO");
  }
</style>
{% endblock %}

{% block content %}
<br><br>
<center>
<div class="well spaced" style="width:40%;">
<div id="wrapper">

  <h4>Details about model {{ model_code }}</h4>
  <h4>Description: {{ model.description }}</h4>

  <table style="width:100%" class="table-striped table-bordered" border="1|1">
  <tr>
    <th>Date</th>
    <th>In</th> 
    <th>Out</th>
    <th>Serial Number</th>
    <th>Customer</th>
    <th>Manufacturer</th>
  </tr>
  {% for item in items_received %}
  <tr>
    <td>{{ item.shipped_in }}</td>
    <td>1</td> 
    <td></td>
    <td>{{ item.serial_number }}</td>
    <td></td>
    <td>{{ item.manufacturer }}</td>
  </tr>
  {% endfor %}
  {% for item in items_shipped %}
  <tr>
    <td>{{ item.shipped_out }}</td>
    <td></td> 
    <td>1</td>
    <td>{{ item.serial_number }}</td>
    <td>{{ item.customer }}</td>
    <td></td>
  </tr>
  {% endfor %}
  <tr>
    <td>Total</td>
    <td>{{ count_items_received }}</td>
    <td>{{ count_items_shipped }}</td>
  <tr>
  <tr>
    <td>Total On Hand</td>
    <td>{{ model.quantity }}
</table>

</div>
</div>
</center>

{% endblock %}